In [1]:
import pandas as pd
import numpy as np

from fuzzywuzzy import process, fuzz

C:\Users\Oscar\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

https://www.statology.org/fuzzy-matching-pandas/#:~:text=Often%20you%20may%20want%20to,function%20from%20the%20difflib%20package.

In [2]:
data = {'name': ['nick', 'david', 'joe', 'ross', 'nicks', 'rossw', 'javier', 'xavier', 'Javi', 'Sergio', 'sergio'],
        'age': ['5', '10', '7', '6', '5', '10', '7', '6', '5', '10', '7']} 
new = pd.DataFrame.from_dict(data)
  
new

      name age
0     nick   5
1    david  10
2      joe   7
3     ross   6
4    nicks   5
5    rossw  10
6   javier   7
7   xavier   6
8     Javi   5
9   Sergio  10
10  sergio   7

In [3]:
unique_brand = new['name'].unique().tolist()
sorted(unique_brand)[:20]

['Javi',
 'Sergio',
 'david',
 'javier',
 'joe',
 'nick',
 'nicks',
 'ross',
 'rossw',
 'sergio',
 'xavier']

In [4]:
score_sort = [(x,) + i
             for x in unique_brand 
             for i in process.extract(x, unique_brand,     scorer=fuzz.token_sort_ratio)]

In [5]:
#Create a dataframe from the tuples
similarity_sort = pd.DataFrame(score_sort, columns=['brand_sort','match_sort','score_sort'])
similarity_sort

   brand_sort match_sort  score_sort
0        nick       nick         100
1        nick      nicks          89
2        nick       Javi          25
3        nick      david          22
4        nick     javier          20
5       david      david         100
6       david       Javi          67
7       david     javier          55
8       david     xavier          55
9       david       nick          22
10        joe        joe         100
11        joe     javier          44
12        joe       ross          29
13        joe       Javi          29
14        joe      rossw          25
15       ross       ross         100
16       ross      rossw          89
17       ross     Sergio          40
18       ross     sergio          40
19       ross        joe          29
20      nicks      nicks         100
21      nicks       nick          89
22      nicks       ross          22
23      nicks       Javi          22
24      nicks      david          20
25      rossw      rossw         100
26      rossw       ross          89
27      rossw     Sergio          36
28      rossw     sergio          36
29      rossw        joe          25
30     javier     javier         100
31     javier     xavier          83
32     javier       Javi          80
33     javier      david          55
34     javier        joe          44
35     xavier     xavier         100
36     xavier     javier          83
37     xavier       Javi          60
38     xavier      david          55
39     xavier     Sergio          33
40       Javi       Javi         100
41       Javi     javier          80
42       Javi      david          67
43       Javi     xavier          60
44       Javi        joe          29
45     Sergio     Sergio         100
46     Sergio     sergio         100
47     Sergio     javier          33
48     Sergio     xavier          33
49     Sergio        joe          22
50     sergio     Sergio         100
51     sergio     sergio         100
52     sergio     javier          33
53     sergio     xavier          33
54     sergio        joe          22

In [6]:
similarity_sort['sorted_brand_sort'] = np.minimum(similarity_sort['brand_sort'], similarity_sort['match_sort'])
similarity_sort.head()

  brand_sort match_sort  score_sort sorted_brand_sort
0       nick       nick         100              nick
1       nick      nicks          89              nick
2       nick       Javi          25              Javi
3       nick      david          22             david
4       nick     javier          20            javier

In [7]:
high_score_sort = similarity_sort[(similarity_sort['score_sort'] >= 80) &
                (similarity_sort['brand_sort'] !=  similarity_sort['match_sort']) &
                (similarity_sort['sorted_brand_sort'] != similarity_sort['match_sort'])]
high_score_sort = high_score_sort.drop('sorted_brand_sort',axis=1).copy()
high_score_sort.head()

   brand_sort match_sort  score_sort
1        nick      nicks          89
16       ross      rossw          89
31     javier     xavier          83
41       Javi     javier          80
46     Sergio     sergio         100

In [8]:
high_score_sort.groupby(['brand_sort','score_sort']).agg(
                        {'match_sort': ', '.join}).sort_values(
                        ['score_sort'], ascending=False)

                      match_sort
brand_sort score_sort
Sergio     100            sergio
nick       89              nicks
ross       89              rossw
javier     83             xavier
Javi       80             javier

In [9]:
similarity_sort

   brand_sort match_sort  score_sort sorted_brand_sort
0        nick       nick         100              nick
1        nick      nicks          89              nick
2        nick       Javi          25              Javi
3        nick      david          22             david
4        nick     javier          20            javier
5       david      david         100             david
6       david       Javi          67              Javi
7       david     javier          55             david
8       david     xavier          55             david
9       david       nick          22             david
10        joe        joe         100               joe
11        joe     javier          44            javier
12        joe       ross          29               joe
13        joe       Javi          29              Javi
14        joe      rossw          25               joe
15       ross       ross         100              ross
16       ross      rossw          89              ross
17       ross     Sergio          40            Sergio
18       ross     sergio          40              ross
19       ross        joe          29               joe
20      nicks      nicks         100             nicks
21      nicks       nick          89              nick
22      nicks       ross          22             nicks
23      nicks       Javi          22              Javi
24      nicks      david          20             david
25      rossw      rossw         100             rossw
26      rossw       ross          89              ross
27      rossw     Sergio          36            Sergio
28      rossw     sergio          36             rossw
29      rossw        joe          25               joe
30     javier     javier         100            javier
31     javier     xavier          83            javier
32     javier       Javi          80              Javi
33     javier      david          55             david
34     javier        joe          44            javier
35     xavier     xavier         100            xavier
36     xavier     javier          83            javier
37     xavier       Javi          60              Javi
38     xavier      david          55             david
39     xavier     Sergio          33            Sergio
40       Javi       Javi         100              Javi
41       Javi     javier          80              Javi
42       Javi      david          67              Javi
43       Javi     xavier          60              Javi
44       Javi        joe          29              Javi
45     Sergio     Sergio         100            Sergio
46     Sergio     sergio         100            Sergio
47     Sergio     javier          33            Sergio
48     Sergio     xavier          33            Sergio
49     Sergio        joe          22            Sergio
50     sergio     Sergio         100            Sergio
51     sergio     sergio         100            sergio
52     sergio     javier          33            javier
53     sergio     xavier          33            sergio
54     sergio        joe          22               joe

# Intento funcion

In [64]:
df = {'name': ['nick', 'david', 'joe', 'ross', 'nicks', 'rossw', 'javier', 'xavier', 'Javi', 'Sergio', 'Javer'],
      'age': ['5', '10', '7', '6', '5', '10', '7', '6', '5', '10', '7']} 
df = pd.DataFrame.from_dict(df) 
df['name'] = df['name'].str.title()

In [65]:
unique_brand = df['name'].unique().tolist()

score_sort = [(x,) + i
             for x in unique_brand 
             for i in process.extract(x, unique_brand, scorer=fuzz.token_sort_ratio)]
#Create a dataframe from the tuples
similarity_sort = pd.DataFrame(score_sort, columns=['brand_sort','match_sort','score_sort'])

similarity_sort['sorted_brand_sort'] = np.minimum(similarity_sort['brand_sort'], similarity_sort['match_sort'])


high_score_sort = similarity_sort[(similarity_sort['score_sort'] >= 80) &
                                  (similarity_sort['brand_sort'] !=  similarity_sort['match_sort']) &
                                  (similarity_sort['sorted_brand_sort'] != similarity_sort['match_sort'])]
high_score_sort = high_score_sort.drop('sorted_brand_sort',axis=1).copy()

high_score_sort = high_score_sort.reset_index(drop=True)

high_score_sort

  brand_sort match_sort  score_sort
0       Nick      Nicks          89
1       Ross      Rossw          89
2     Javier     Xavier          83
3       Javi     Javier          80
4      Javer     Javier          91

In [66]:
high_score_sort = high_score_sort.drop(high_score_sort.index[[3]])
high_score_sort

  brand_sort match_sort  score_sort
0       Nick      Nicks          89
1       Ross      Rossw          89
2     Javier     Xavier          83
4      Javer     Javier          91

In [67]:
df = pd.merge(df, high_score_sort, how='left', left_on='name', right_on='match_sort')
df

      name age brand_sort match_sort  score_sort
0     Nick   5        NaN        NaN         NaN
1    David  10        NaN        NaN         NaN
2      Joe   7        NaN        NaN         NaN
3     Ross   6        NaN        NaN         NaN
4    Nicks   5       Nick      Nicks        89.0
5    Rossw  10       Ross      Rossw        89.0
6   Javier   7      Javer     Javier        91.0
7   Xavier   6     Javier     Xavier        83.0
8     Javi   5        NaN        NaN         NaN
9   Sergio  10        NaN        NaN         NaN
10   Javer   7        NaN        NaN         NaN

In [ ]:
df['name'] = np.where(df['name'].isnull(), df['name'], df['name'])

In [68]:
similarity_sort

   brand_sort match_sort  score_sort sorted_brand_sort
0        Nick       Nick         100              Nick
1        Nick      Nicks          89              Nick
2        Nick       Javi          25              Javi
3        Nick      David          22             David
4        Nick     Javier          20            Javier
5       David      David         100             David
6       David       Javi          67             David
7       David     Javier          55             David
8       David     Xavier          55             David
9       David      Javer          40             David
10        Joe        Joe         100               Joe
11        Joe      Javer          50             Javer
12        Joe     Javier          44            Javier
13        Joe       Ross          29               Joe
14        Joe       Javi          29              Javi
15       Ross       Ross         100              Ross
16       Ross      Rossw          89              Ross
17       Ross     Sergio          40              Ross
18       Ross        Joe          29               Joe
19       Ross      Nicks          22             Nicks
20      Nicks      Nicks         100             Nicks
21      Nicks       Nick          89              Nick
22      Nicks       Ross          22             Nicks
23      Nicks       Javi          22              Javi
24      Nicks      David          20             David
25      Rossw      Rossw         100             Rossw
26      Rossw       Ross          89              Ross
27      Rossw     Sergio          36             Rossw
28      Rossw        Joe          25               Joe
29      Rossw      Nicks          20             Nicks
30     Javier     Javier         100            Javier
31     Javier      Javer          91             Javer
32     Javier     Xavier          83            Javier
33     Javier       Javi          80              Javi
34     Javier      David          55             David
35     Xavier     Xavier         100            Xavier
36     Xavier     Javier          83            Javier
37     Xavier      Javer          73             Javer
38     Xavier       Javi          60              Javi
39     Xavier      David          55             David
40       Javi       Javi         100              Javi
41       Javi     Javier          80              Javi
42       Javi      David          67             David
43       Javi      Javer          67             Javer
44       Javi     Xavier          60              Javi
45     Sergio     Sergio         100            Sergio
46     Sergio      Javer          36             Javer
47     Sergio     Javier          33            Javier
48     Sergio     Xavier          33            Sergio
49     Sergio        Joe          22               Joe
50      Javer      Javer         100             Javer
51      Javer     Javier          91             Javer
52      Javer     Xavier          73             Javer
53      Javer       Javi          67             Javer
54      Javer        Joe          50             Javer